<div>
<div class="list">
			<!--works-->
			{{#if works}}
				{{#each works}}
					<div class="list-ele full">
					    <h3>{{id}}</h3>
						<h3>{{acceptor}}</h3>
						<h3>{{generator}}</h3>
						{{description}}<br>
						<a href="/profile/{{acceptor}}">{{acceptor}}</a>
						<form method="post" action="/reopen">
						<input type="text" name ="accvalue" value={{id}} style="display:none">
						<input type="submit" value="Reopen" class="button">
						</form>
						<form method="post" action="/close">
						<input type="text"  name ="delvalue" value={{id}} style="display:none">
						<input type="submit" value="Close" class="button">
						</form>
						
					</div>
				<hr>
				{{/each}}
			{{else}}
				<div style="padding-top: 20px;text-align: center;">
					No accepted requests yet.
				</div>
			{{/if}}	
</div>
</div>