<style>
    .link:hover{
        text-decoration:underline;
    }
    .link{
        margin-right:19%;
    }
</style>
<div class="main-body">
	<div class="flexed">
		<div class="page">
			<div>
				<div class="tab" style="float: right;" onclick="navigation()"><img src="images/bars.png" alt="alternative" height="30px"></div>
				<div style="float:right;margin-top:50px;margin-right:10px">Accepted requests</div>
				<div><img src="images/logo1.png" alt="alternative" height="150px"></div>
			</div>
			<div id="navmenu" class="menu">
				<a href="/request">
				    <div class="menu-ele">
						Home
					</div>
				</a>
				<a href="/profile/{{currentUser}}">
					<div class="menu-ele">
						Your Profile
					</div>
				</a>
				<a href="/leaderboard">
				    <div class="menu-ele">
						LeaderBoard
					</div>
				</a>
				<a href="/logout">
					<div class="menu-ele">
						Logout
					</div>
				</a>
			</div>
			<br>
		<div>
				
		<div class="list">
			<!--works-->
			{{#if works}}
				{{#each works}}
					<div class="list-ele full">
					    <h6 style="float:right;margin-right:10%">Request Id : {{id}}</h6>
                    	<h6><a href="/profile/{{roll}}" class="link" style="float:right">View Profile</a></h6>
						<h6 style=";margin-left:10%">Accepted by : {{acceptor}}</h6>
						<h6 style=";margin-left:10%">Description : {{description}}</h6>
						<form method="post" action="/reopen" style="float:right;margin-right:7%">
							<input type="text" name ="accvalue" value={{id}} style="display:none">
							<input type="submit" value="&#10008" class="button" style="width:35%;padding-right:30px">
						</form>
						<form method="post" action="/close" style="margin-left:9%;float:left">
							<input type="text"  name ="delvalue" value={{id}} style="display:none">
							<input type="submit" value="&#10004" class="button" style="width:35%;padding-right:30px">
						</form>
						<br>
					</div>
					<br>
				{{/each}}
			{{else}}
				<div style="padding-top: 20px;text-align: center;">
					No accepted requests yet.
				</div>
			{{/if}}	
</div>
		</div>
</div>
</div>







