<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>MeetMe - Resume Website Template</title>

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" type="text/css" href="css/bootstrap.min.css" >
    <!-- Fonts -->
    <link rel="stylesheet" type="text/css" href="fonts/font-awesome.min.css">
    <!-- Icon -->
    <link rel="stylesheet" type="text/css" href="fonts/simple-line-icons.css">
    <!-- Slicknav -->
    <link rel="stylesheet" type="text/css" href="css/slicknav.css">
    <!-- Menu CSS -->
    <link rel="stylesheet" type="text/css" href="css/menu_sideslide.css">
    <!-- Slider CSS -->
    <link rel="stylesheet" type="text/css" href="css/slide-style.css">
    <!-- Nivo Lightbox -->
    <link rel="stylesheet" type="text/css" href="css/nivo-lightbox.css" >
    <!-- Animate -->
    <link rel="stylesheet" type="text/css" href="css/animate.css">
    <!-- Main Style -->
    <link rel="stylesheet" type="text/css" href="css/main.css">
    <!-- Responsive Style -->
    <link rel="stylesheet" type="text/css" href="css/responsive.css">

  </head>
  <body>

    <!-- Header Area wrapper Starts -->
    <header id="header-wrap">
      <!-- Navbar Start -->
      <nav class="navbar navbar-expand-lg fixed-top scrolling-navbar indigo">
        <div class="container">
          <!-- Brand and toggle get grouped for better mobile display -->
          <div class="navbar-header">
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#main-navbar" aria-controls="main-navbar" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
              <span class="icon-menu"></span>
              <span class="icon-menu"></span>
              <span class="icon-menu"></span>
            </button>
            <a href="/request" class="navbar-brand"><img src="images/logo1.png" alt="" height="80px"></a>
          </div>
          <div class="collapse navbar-collapse" id="main-navbar">
            <ul class="onepage-nev navbar-nav mr-auto w-100 justify-content-end clearfix">
              <li class="nav-item">
                <a class="nav-link" href="/request">
                  Home
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/pendingRequests/{{roll}}">
                  My Requests
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/leaderboard">
                  Leaderboard
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/logout">
                  Logout
                </a>
            </ul>
          </div>
        </div>

        <!-- Mobile Menu Start -->
        <ul class="onepage-nev mobile-menu">
          <li>
            <a href="/home">Home</a>
          </li>
          <li>
            <a href="/pendingRequests">My Requests</a>
          </li>
          <li>
            <a href="/leaderboard">Leaderboard</a>
          </li>
          <li>
            <a href="/logout">Logout</a>
          </li>
        </ul>
        <!-- Mobile Menu End -->
      </nav>
      <!-- Navbar End -->

      <!-- Hero Area Start -->
      <div id="hero-area" class="hero-area-bg">
        <div class="overlay"></div>
        <div class="container">
          <div class="row">
            <div class="col-md-12 col-sm-12 text-center">
              <div class="contents">
                <h5 style="margin-bottom: 3%;" class="script-font wow fadeInUp" data-wow-delay="0.2s">Hey</h5>
                <h3 class="head-title wow fadeInUp" data-wow-delay="0.4s">{{name}}</h3>
                <hr width="20%" style="border-top: 1px solid #fff;"><br><br>
                <h4 data-wow-delay="0.4s">RATINGS : {{points}}</h4><br><br>
                <center><a href="#about"><img src="images/down-arrow1.png" height="20px"></a></center>
                <!-- <div class="header-button wow fadeInUp" data-wow-delay="1s">
                  <a href="#" class="btn btn-common">Get a Free Quote</a>
                </div> -->
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- Hero Area End -->

    </header>
    <!-- Header Area wrapper End -->
    <br><br>
    <!-- About Section Start -->
    <section id="about" class="section-padding">
      <div class="container">
        <div class="row">
          <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
            <div class="img-thumb wow fadeInLeft" data-wow-delay="0.3s">
              <img src="images/upload_images/{{image}}" alt="" height="650px" width="500px">
            </div>
          </div> 
          <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
            <div class="profile-wrapper wow fadeInRight" data-wow-delay="0.3s">
              <p style="line-height: 2.5;font-size: 16px;font-family: 'Muli', sans-serif; color: #223557"><b>There is an amazing power getting to know your inner self and learning how to use it and not fight with the world. If you know what makes you happy, your personality, interests and capabilities, just use them, and everything else flows beautifully.</b></p><br>
              <div class="about-profile" style="line-height: 3.0">
                <ul class="admin-profile">
                  <li><span class="pro-title"> Name </span> <span class="details">{{name}}</span></li>
                  <li><span class="pro-title"> Email </span> <span class="details">{{email}}</span></li>
                  <li><span class="pro-title"> Roll No. </span> <span class="details">{{roll}}</span></li>
                  <li><span class="pro-title"> Contact </span> <span class="details">{{phone}}</span></li>
                  <li><span class="pro-title"> Hostel </span> <span class="details">{{hostel}}</span></li>
                  <li><span class="pro-title"> Room No. </span> <span class="details">{{room}}</span></li>
                </ul>
              </div>
            </div>
          </div>   
        </div>
      </div>
    </section>
    <!-- About Section End -->

    <br><br>

    <!-- Counter Area Start-->
    <section class="counter-section section-padding">
      <div class="container">
        <div class="row">
          <!-- Counter Item -->
          <div class="col-md-3 col-sm-6 work-counter-widget text-center">
            <div class="counter wow fadeInDown" data-wow-delay="0.3s">
              <div class="icon"><i class="icon-briefcase"></i></div>
              <div class="counterUp">{{total}}</div>
              <p>Requests Generated</p>
            </div>
          </div>
          <!-- Counter Item -->
          <div class="col-md-3 col-sm-6 work-counter-widget text-center">
            <div class="counter wow fadeInDown" data-wow-delay="0.6s">
              <div class="icon"><i class="icon-check"></i></div>
              <div class="counterUp">{{accepted}}</div>
              <p>Requests Accepted</p>
            </div>
          </div>
          <!-- Counter Item -->
          <div class="col-md-3 col-sm-6 work-counter-widget text-center">
            <div class="counter wow fadeInDown" data-wow-delay="1.2s">
              <div class="icon"><i class="icon-heart"></i></div>
              <div class="counterUp">{{completed}}</div>
              <p>Requests Completed</p>
            </div>
          </div>
          <!-- Counter Item -->
          <div class="col-md-3 col-sm-6 work-counter-widget text-center">
            <div class="counter wow fadeInDown" data-wow-delay="0.9s">
              <div class="icon"><i class="icon-diamond"></i></div>
              <div class="counterUp">{{points}}</div>
              <p>Points Received</p>
            </div>
          </div>
          
        </div>
      </div>
    </section>
    <!-- Counter Area End-->

   

    <!-- Go to Top Link -->
    <a href="#" class="back-to-top">
      <i class="icon-arrow-up"></i>
    </a>

    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <!-- <script src="js/jquery-min.js"></script>
    <script src="js/popper.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/jquery.mixitup.js"></script>
    <script src="js/jquery.counterup.min.js"></script>
    <script src="js/waypoints.min.js"></script>
    <script src="js/wow.js"></script>
    <script src="js/jquery.nav.js"></script>
    <script src="js/jquery.easing.min.js"></script>  
    <script src="js/nivo-lightbox.js"></script>
    <script src="js/jquery.slicknav.js"></script>
    <script src="js/main.js"></script>
    <script src="js/form-validator.min.js"></script>
    <script src="js/contact-form-script.min.js"></script>
    <script src="js/map.js"></script> -->
      
  </body>
</html>

