<<<<<<< HEAD
<div>
Name:{{name}}<br>
Email:{{email}}<br>
Roll:{{roll}}<br>
Phone:{{phone}}<br>
Hostel:{{hostel}}<br>
Room:{{room}}<br>
</div>
<div>

=======
<div>
Name:{{name}}<br>
Email:{{email}}<br>
Roll:{{roll}}<br>
Phone:{{phone}}<br>
Hostel:{{hostel}}<br>
Room:{{room}}<br>
</div>
<div>
<h3>My Accepted Requests</h3>
>>>>>>> bd753c01ff3c315053f2482be081cd69d79f4271
