<html> 
<head>
<title>Centering Content</title>
<style>
#outer {
    height:100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
h1 {
    font-size: 60px;
    color: #3399FF;
    text-transform:capitalize;
    margin-bottom:10px;
    margin-top:20px;
}
#blueDiv {
    width: 50%;
    height: 85%;
    background-color: #24f2a6;
    text-align:center;
    border-radius:25px;
}
</style>
<link href="https://fonts.googleapis.com/css?family=Quicksand" rel="stylesheet">
<link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
</head>
 
<body>
    <div class="main-body">
            <div class="page">
                <div>
                    <div class="tab" style="float: right;" onclick="navigation()"><img src="images/bars.png" alt="alternative" height="30px"></div>
                    <div style="float:right;margin-top:50px;margin-right:10px">
                        Profile
                    </div>
                    <div><img src="images/logo1.png" alt="alternative" height="150px"></div>
			    </div>
                <div id="navmenu" class="menu">
                    <a href="/request">
                        <div class="menu-ele">
                            Home
                        </div>
                    </a>
                    <a href="/leaderboard">
                        <div class="menu-ele">
                            LeaderBoard
                        </div>
                    </a>
                    <a href="/logout">
                        <div class="menu-ele">
                            Logout
                        </div>
                    </a>
			    </div>
            </div>
            <div class="division">
                <div>
                    <div id="image_holder" class="image_holder">
                    <div class="card">
                        <img src = "images/upload_images/{{image}}" style="height:320px;width:300px;"></img>
                        <!-- <input id ="image_upload" type="file" accept="image/*">  -->
                        {{!-- <h2>{{name}}</h2> --}}
                    </div>
                    </div>
                </div>
                <div style="line-height:1.2;">
                <div class="card" style="height: 320px;width:500px">
                        Name: {{name}}<br> <br> 
                        Email: {{email}}<br> <br>
                        Roll No: {{roll}}<br> <br>
                        Phone: {{phone}}<br> <br>
                        Hostel: {{hostel}}<br> <br>
                        Room: {{room}}<br> <br>
                        Points: {{points}}<br> <br>
                        Total: {{total}} <br><br>
                        Accepted: {{accepted}} <br><br>
                </div>  
                </div>
            </div>
        </div>
</body>
 
</html>