<!DOCTYPE html>
<html>
 
<head>
<title>Centering Content</title>
<style>
body {
    background-color: #F3F3F3;
    font-family:Quicksand, sans-serif;
    font-size:30px;
}
#outer {
    height:100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
h1 {
    font-size: 60px;
    color: #3399FF;
    text-transform:capitalize;
    margin-bottom:10px;
    margin-top:20px;
}
#blueDiv {
    width: 50%;
    height: 85%;
    background-color: #24f2a6;
    text-align:center;
    border-radius:25px;
}
</style>
<link href="https://fonts.googleapis.com/css?family=Quicksand" rel="stylesheet">
<link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
</head>
 
<body>
    <center><h2>Profile</h2></center>
    <div class="division">
        <div>
            <div id="image_holder" class="image_holder">
            <div class="card">
                <img src = "images/upload_images/{{image}}" style="height:320px;width:300px;"></img>
                <!-- <input id ="image_upload" type="file" accept="image/*">  -->
                {{!-- <h2>{{name}}</h2> --}}
            </div>
            </div>
        </div>
        <div style="line-height:1.2;">
           <div class="card" style="height: 320px;width:500px">
                Name: {{name}}<br> <br> 
                Email: {{email}}<br> <br>
                Roll No: {{roll}}<br> <br>
                Phone: {{phone}}<br> <br>
                Hostel: {{hostel}}<br> <br>
                Room: {{room}}<br> <br>
                Points: {{points}}<br> <br>
           </div>  
        </div>
    </div>
</body>
 
</html>