<style>
    .link:hover{
        text-decoration:underline;
    }
    .link{
        margin-right:19%;
    }
</style>
<div class="main-body">

<div class="flexed">
		<div class="page">
			<div>
				<div class="tab" style="float: right;" onclick="navigation()"><i class="fa fa-bars"></i></div>
				<div class="button" style="text-align:center;width:10%;margin-right:10%;float:right" onclick="openModal('request')">
					Add Request
				</div>
				<div><h3>shareMate <i class="fa fa-users" aria-hidden="true"></i></h3></div>
			</div>
			<div id="navmenu" class="menu">
			    <a href ="/invite">
			    <div class="menu-ele">
					Invite Member
				</div>
			    </a>
				<a href="/profile/{{currentUser}}">
					<div class="menu-ele">
						Your Profile
					</div>
				</a>
				<a href="/accepted/{{currentUser}}">
				    <div class="menu-ele">
						Accepted Requests
					</div>
				</a>
				<a href="/leaderboard">
				    <div class="menu-ele">
						LeaderBoard
					</div>
				</a>
				<a href="/logout">
					<div class="menu-ele">
						Logout
					</div>
				</a>
			</div>
			<div class="modal" id="request">
	             <div class="modal-content">
		           <div class="close" onclick="closeModal('request')">&times;</div>
		              	<div class="modal-header">
			                <h2>Create Request</h2>
						</div>
				   <div class="modal-body">
						<form method="post" action="/addrequest">
<!--							<label for="description">Request</label><br>-->
							<input type="text" name="description" placeholder="Your request" style="margin-left:10%"><br><br>
							<input type="submit" value="Request" class="button" style="margin-left:35%"><br><br>
						</form>
				   </div>
				  </div>
            </div>
			<div class="list">
			<!--works-->
			{{#if works}}
				{{#each works}}
					<div class="list-ele full">
					    <h6 style="float:right;margin-right:10%">Roll no. : {{roll}}</h6>
						<h6><a href="/profile/{{roll}}" class="link" style="float:right">View Profile</a></h6>
						<h6 style=";margin-left:10%">Request Id : {{id}}</h6>
						<h6 style=";margin-left:10%">Description : {{description}}</h6>
						<form method="post" action="/deleterequest" style="float:right;margin-right:7%">
							<input type="text"  name ="deletevalue" value={{id}} style="display:none">
							<input type="submit" value="&#10008" class="button"  style="width:35%;padding-right:30px">
						</form>
						<form method="post" action="/acceptrequest" style="margin-left:9%;float:left">
							<input type="text" name ="acceptvalue" value={{id}} style="display:none">
							<input type="text" name ="original" value={{roll}} style="display:none">
						<b><input type="submit" value="&#10004" class="button"   style="width:35%;padding-right:30px"></b>
						</form>
						
						<br>
					</div>
					<br>
				{{/each}}
			{{else}}
				<div style="padding-top: 20px;text-align: center;">
					No request is added yet.
				</div>
			{{/if}}
			</div>
		</div>
</div>
</div>
