<style>
    .link:hover{
        text-decoration:underline;
    }
    .link{
        font-size:25px;
        margin-right:9%;
    }
</style>
<div class="main-body">

<div class="flexed">
		<div class="page">
			<div>
				<div class="tab" style="float: right;" onclick="navigation()"><i class="fa fa-bars"></i></div>
				<div><h1>shareMate <i class="fa fa-users" aria-hidden="true"></i></h1></div>
				
			</div>
			<div id="navmenu" class="menu">
				<a href="/profile/{{currentUser}}">
					<div class="menu-ele">
						Your Profile
					</div>
				</a>
				<a href="/accepted/{{currentUser}}">
				    <div class="menu-ele">
						Accepted Requests
					</div>
				</a>
				<a href="/logout">
					<div class="menu-ele">
						Logout
					</div>
				</a>
			</div>


			<div>
				<div class="button" style="text-align:center;width:30%;margin-right:0%;float:right" onclick="openModal('request')">
					Add Request
				</div>
				<br><br>
			</div>
			<div class="modal" id="request">
	             <div class="modal-content">
		           <div class="close" onclick="closeModal('request')">&times;</div>
		              	<div class="modal-header">
			                <h2>Create Request</h2>
						</div>
				   <div class="modal-body">
						<form method="post" action="/addrequest">
<!--							<label for="description">Request</label><br>-->
							<input type="text" name="description" placeholder="Your request" width="800px" style="margin-left:40%"><br><br>
							<input type="submit" value="Request" class="button" style="margin-left:40%"><br><br>
						</form>
				   </div>
				  </div>
            </div>
			<div class="list">
			<!--works-->
			{{#if works}}
				{{#each works}}
					<div class="list-ele full">
					    <h6 style="float:right;margin-right:10%">Roll no. : {{roll}}</h6>
						<h6>Request Id : {{id}}</h6>
						<a href="/profile/{{roll}}" class="link" style="float:right">View Profile</a>
						<h5>Description : {{description}}</h5>
						<form method="post" action="/deleterequest" style="float:right;margin-right:3%;padding-right:5px">
						<input type="text"  name ="deletevalue" value={{id}} style="display:none">
						<input type="submit" value="&#10008" class="button"  style="width:35%">
						</form>
						<form method="post" action="/acceptrequest" style="margin-left:0px;float:left">
						<input type="text" name ="acceptvalue" value={{id}} style="display:none">
						<b><input type="submit" value="&#10004" class="button"   style="width:35%;paddding-right:10px"></b>
						</form>
						
						<br>
					</div>
					<br>
					<hr>
				{{/each}}
			{{else}}
				<div style="padding-top: 20px;text-align: center;">
					No work is added yet.
				</div>
			{{/if}}
			</div>
		</div>
</div>
</div>

