
<div class="main-body">

<div class="flexed">
		<div class="page">
			<div>
				<div class="tab" style="float: right;" onclick="navigation()"><i class="fa fa-bars"></i></div>
				<div><h1>shareMate</h1></div>
				
			</div>
			<div id="navmenu" class="menu">
				<a href="/profile/{{currentUser}}">
					<div class="menu-ele">
						Your Profile
					</div>
				</a>
				<a href="/accepted/{{currentUser}}">
				    <div class="menu-ele">
						Accepted Requests
					</div>
				</a>
				<a href="/logout">
					<div class="menu-ele">
						Logout
					</div>
				</a>
			</div>


			<div>
				<div class="button" style="float: right;" onclick="openModal('request')">
					Add Request
				</div>
				<h2>Requests</h2>
			</div>
			<div class="modal" id="request">
	             <div class="modal-content">
		           <div class="close" onclick="closeModal('request')">&times;</div>
		              	<div class="modal-header">
			                <h2>Create Request</h2>
						</div>
				   <div class="modal-body">
						<form method="post" action="/addrequest">
							<label for="description">Request</label><br>
							<input type="text" name="description"><br><br>
							<input type="submit" value="Request" class="button"><br><br>
						</form>
				   </div>
				  </div>
            </div>
			<div class="list">
			<!--works-->
			{{#if works}}
				{{#each works}}
					<div class="list-ele full">
					    <h3>{{id}}</h3>
						<h3>{{roll}}</h3>
						{{description}}
						<a href="/profile/{{roll}}">{{roll}}</a>
						<form method="post" action="/acceptrequest">
						<input type="text" name ="acceptvalue" value={{id}} style="display:none">
						<input type="submit" value="Accept" class="button">
						</form>
						<form method="post" action="/deleterequest">
						<input type="text"  name ="deletevalue" value={{id}} style="display:none">
						<input type="submit" value="Ignore" class="button">
						</form>
					</div>
					<hr>
				{{/each}}
			{{else}}
				<div style="padding-top: 20px;text-align: center;">
					No work is added yet.
				</div>
			{{/if}}
			</div>
		</div>
</div>
</div>

